<html>
<head>
    <title>VAT Format Validator</title>
</head>
 
<body>
    
    <br/><br/>
    <h1>European Countries VAT Number Validator</h1>
    <form action="/process" method="POST" name="form1">
        <table border="0">
            <tr> 
                <td>Country Prefix</td>
                <td><input type="text" name="pre"></td>
            
               
            </tr>

	    
	    <tr> 
                <td>VAT Number</td>
                <td><input type="text" name="num"></td>
            
            </tr>
            <tr align = "right"> 
                <td></td>
                <td><input type="submit" name="Submit" value="Submit"></td>
            </tr>
        </table>
    </form>
</body>
</html>
